
	
	
	<div class="content">
	
		<h3>Learning Styles</h3>
		<p>Every person is unique, and so is the way he or she learns! A learning style is the ideal way individuals process, learn, and recall information. Understanding the differences between learning styles, and knowing how your child learns best, will help enable them to succeed. Knowing your child’s learning style will make you better equipped to teach them. Often, kids get frustrated because of a failure to communicate effectively with others, an inability to understand what is happening or just general confusion in a learning scenario. Despite the defined segmentation of the learning style categories, people tend to learn in a more blended, all-encompassing capacity. Therefore, a lot of children learn best through variations and combinations of learning styles. Exploring your child’s learning style through educational games will help you understand the way your child learns, prepare them to learn in academic situations, and allow them to experience learning in a fun way! 
		</p>
		<div class="styles">
			<a href="#visuall"><%=image_tag ("visual.png"), :class => "style_image wiggle"  %><p>Visual</p></a>
			<a href="#auditoryy"><%=image_tag ("auditory.png"), :class => "style_image wiggle"  %><p>Auditory</p></a>
			<a href="#kinestheticc"><%=image_tag ("kinesthetic.png"), :class => "style_image wiggle"  %><p>Kinesthetic</p></a>
				<a name="visuall"></a>
	<div class="clear"></div>
		</div><!--END styles-->
	
		<p class="center">Click on a style to learn more!</p>
		
		<div class="visual">
			<h4>Visual Learning</h4>
			<p class="style_paragraph">Visual learners prefer using images, pictures, colors and maps to organize information and communicate with others. They can visualize objects, plans and outcomes in their mind’s eye, and have a good spatial sense. Visual learners enjoy using white boards, love drawing, scribbling and doodling, and especially appreciate colors. 
</br></br>Ideal learning techniques for visual learners utilizes pictures, colors and other visual media. Children who are visual learners tend to enjoy activities centered on cutting, paper, crafting, and bright colors. 
</br></br>Picture or word based games particularly appeal to visual learners and provide optimized learning outcomes.</p>
      <%=image_tag ("visual_white.png"), :class => "paragraph_image"  %>
				<div class="clear"><a name="auditoryy"></a></div>	
			<a href="#top" class="back">Back to Top</a>
				<div class="clear"></div>		
		</div><!--END visual--> 
		<div class="auditory">
			<h4>Auditory Learning</h4>
			<p class="style_paragraph">Auditory learners like working with sound and music. They have good senses of pitch and rhythm and typically can sing, play a musical instrument, or identify the sounds of different instruments. Music invokes strong emotions for auditory learners, and they often notice the music playing in the background of movies and other media. </br></br>Ideal learning techniques for auditory learners utilizes sounds, rhyming and music in additional to visual association. Children who are auditory learners tend to enjoy activities centered around music and singing.</br></br>Word and story based games appeal to auditory learners and help provide optimized learning outcomes.</p>
      <%=image_tag ("auditory_white.png"), :class => "paragraph_image"  %>
				<div class="clear"><a name="kinestheticc"></a></div>	
			<a href="#top" class="back">Back to Top</a>
				<div class="clear"></div>		
		</div><!--END auditory--> 
		<div class="kinesthetic">
			<h4>Kinesthetic Learning</h4>
			<p class="style_paragraph">Kinesthetic learners learn best through touching and interacting with the world around them. They often like sports, exercise and other physical activities, and would rather learn and process information while doing something active. Kinesthetic learners are more sensitive to the world around them and notice textures and body language more readily than others. 
<br></br>Ideal learning techniques for kinesthetic learners includes physical work and activities utilizing touch and action. They respond well to acting out scenarios, writing and drawing, and flashcards.
<br></br>Action and story based games appeal to kinesthetic learners, and help engage these children for optimized learning outcomes.</p>
      <%=image_tag ("kinesthetic_white.png"), :class => "paragraph_image"  %>
				<div class="clear"></div>	
			<a href="#top" class="back">Back to Top</a>
				<div class="clear"></div>		
		</div><!--END kinesthetic--> 
		
		
		
		
		
	</div><!--END content--> 
	
<div class="clear"></div>
