
	
	<div class="pop-up pop-up1">
					<div class="red">
						<ul class="pop-slider">
 							<li><%=image_tag ("guesswhere1.jpg"), :class => "slider2"  %></li>
 							<li><%=image_tag ("guesswhere2.jpg"), :class => "slider2"  %></li>
 							<li><%=image_tag ("guesswhere3.jpg"), :class => "slider2"  %></li>
 							<li><%=image_tag ("gw1.jpg"), :class => "slider2"  %></li>
						</ul>
					
						<div id="bx-pager">
  							<a data-slide-index="0" href=""><%=image_tag ("guesswhere1.jpg"), :class => ""  %></a>
  							<a data-slide-index="1" href=""><%=image_tag ("guesswhere2.jpg"), :class => ""  %></a>
  							<a data-slide-index="2" href=""><%=image_tag ("guesswhere3.jpg"), :class => ""  %></a>
  							<a data-slide-index="3" href=""><%=image_tag ("gw1.jpg"), :class => ""  %></a>
						</div>
					</div>
					
					<div class="right_content">
						<p class="pop_header">Guess Where ?</p>
						<p class="pop_details">Age: 8+</p>
						<p class="pop_details">Price: $22.99</p>
						<p class="pop_details">Learning Style: Visual</p>
						<form>
							<span class="form_text">Qty:</span><br>
							<input type="text" name="quantity">
							<div class="submit" type="submit">Add to Cart</div>
						</form>
						<p class="added">Item(s) added to cart!</p>
						
						<div class="clear"></div>

						<p class="pop_body">A state-based take on the classic mystery game! There’s a mystery state on your opponent’s card. Can you find the matching state in the crowd? Ask YES or NO questions and then take a guess!</br></br>Start with your game unit full of states. Then ask the right questions to eliminate the wrong places! Once you’re down to a state or two, solve the mystery by guessing where! If you’re the first to identify your opponent’s mystery state, you win!</p>
					</div>
						
						<div class="clear"></div>

					<div class="close_tab1">Close</div>
				</div>
	
	<div class="pop-up pop-up2">
					<div class="red">
						<ul class="pop-slider2">
 							<li><%=image_tag ("candyland1.jpg"), :class => "slider2"  %></li>
 							<li><%=image_tag ("candyland2.jpg"), :class => "slider2"  %></li>
 							<li><%=image_tag ("candyland3.jpg"), :class => "slider2"  %></li>
 							<li><%=image_tag ("candyland4.jpg"), :class => "slider2"  %></li>
						</ul>
					
						<div id="bx-pager2">
  							<a data-slide-index="0" href=""><%=image_tag ("candyland1.jpg"), :class => ""  %></a>
  							<a data-slide-index="1" href=""><%=image_tag ("candyland2.jpg"), :class => ""  %></a>
  							<a data-slide-index="2" href=""><%=image_tag ("candyland3.jpg"), :class => ""  %></a>
  							<a data-slide-index="3" href=""><%=image_tag ("candyland4.jpg"), :class => ""  %></a>
						</div>
					</div>
					
					<div class="right_content">
						<p class="pop_header">Customizable Candyland!</p>
						<p class="pop_details">Age: 6+</p>
						<p class="pop_details">Price: $29.99</p>
						<p class="pop_details">Learning Style: Visual & Kinesthetic</p>
						<form>
							<a href="candyland.php"><div class="custom" type="submit">Customize Now!</div></a>
						</form>
						<p class="added">Item(s) added to cart!</p>
						
						<div class="clear"></div>
						
						<p class="pop_body">Start down the magical road to sweet surprises! </br></br>
						This adorable version of the classic Candyland game is fully customizable, and features the colored cards and fun illustrations that kids love, with different destinations that you can pick! Choose your cards, move your pawn and let your imagination soar as you make your way to the castle to win!
						</div>
						
						<div class="clear"></div>

					<div class="close_tab2">Close</div>
				</div>
	
	<div class="pop-up pop-up3">
					<div class="red">
						<ul class="pop-slider3">
 							<li><%=image_tag ("scrabble1.jpg"), :class => "slider3"  %></li>
 							<li><%=image_tag ("scrabble2.jpg"), :class => "slider3"  %></li>
 							<li><%=image_tag ("scrabble3.jpg"), :class => "slider3"  %></li>
 							<li><%=image_tag ("scrabble4.jpg"), :class => "slider3"  %></li>
						</ul>
					
						<div id="bx-pager3">
  							<a data-slide-index="0" href=""><%=image_tag ("scrabble1.jpg"), :class => ""  %></a>
  							<a data-slide-index="1" href=""><%=image_tag ("scrabble2.jpg"), :class => ""  %></a>
  							<a data-slide-index="2" href=""><%=image_tag ("scrabble3.jpg"), :class => ""  %></a>
  							<a data-slide-index="3" href=""><%=image_tag ("scrabble4.jpg"), :class => ""  %></a>
						</div>
					</div>
					
					<div class="right_content">
						<p class="pop_header">Scrabble</p>
						<p class="pop_details">Age: 8+</p>
						<p class="pop_details">Price: $37.98</p>
						<p class="pop_details">Learning Style: Visual</p>
						<form>
							<span class="form_text">Qty:</span><br>
							<input type="text" name="quantity">
							<div class="submit" type="submit">Add to Cart</div>
						</form>
						<p class="added">Item(s) added to cart!</p>
						
						<div class="clear"></div>

						<p class="pop_body">Put letters together, build words, add up your points and win! This classic game features the classic Scrabble equipment for a big-time word-on-word showdown. 
						</br></br>Do you see a word your opponent hasn't seen. A double or triple letter or word space that will let you earn big points. Could the luck of the draw win you the game. Use your letters to score points and challenge your family and friends. It’s your word against theirs!
						</p>
					</div>
						
						<div class="clear"></div>

					<div class="close_tab5">Close</div>
				</div>
	
	<div class="pop-up pop-up4">
					<div class="red">
						<ul class="pop-slider4">
 							<li><%=image_tag ("mousetrap1.jpg"), :class => "slider4"  %></li>
 							<li><%=image_tag ("mousetrap2.jpg"), :class => "slider4"  %></li>
						</ul>
					
						<div id="bx-pager4">
  							<a data-slide-index="0" href=""><%=image_tag ("mousetrap1.jpg"), :class => ""  %></a>
  							<a data-slide-index="1" href=""><%=image_tag ("mousetrap2.jpg"), :class => ""  %></a>
						</div>
					</div>
					
					<div class="right_content">
						<p class="pop_header">Mousetrap</p>
						<p class="pop_details">Age: 6+</p>
						<p class="pop_details">Price: $24.99</p>
						<p class="pop_details">Learning Style: Auditory & Kinesthetic</p>
						<form>
							<span class="form_text">Qty:</span><br>
							<input type="text" name="quantity">
							<div class="submit" type="submit">Add to Cart</div>
						</form>
						<p class="added">Item(s) added to cart!</p>
						
						<div class="clear"></div>

						<p class="pop_body">Run, little mice, run! 
						</br></br>Build this fun game's crazy Mouse Trap contraption, but then, beware - you definitely don't want your mouse pawn to get trapped by it. 
						</br></br>Race to the finish and don't look back!
						</p>
					</div>
						
						<div class="clear"></div>

					<div class="close_tab6">Close</div>
				</div>
	
	<div class="pop-up pop-up5">
					<div class="red">
						<ul class="pop-slider5">
              <li><%=image_tag ("clue1.jpg"), :class => "slider5"  %></li>
              <li><%=image_tag ("clue2.jpg"), :class => "slider5"  %></li>
              <li><%=image_tag ("clue3.jpg"), :class => "slider5"  %></li>
              <li><%=image_tag ("clue4.jpg"), :class => "slider5"  %></li>
						</ul>
					
						<div id="bx-pager5">
              <a data-slide-index="0" href=""><%=image_tag ("clue1.jpg"), :class => ""  %></a>
              <a data-slide-index="1" href=""><%=image_tag ("clue2.jpg"), :class => ""  %></a>
              <a data-slide-index="2" href=""><%=image_tag ("clue3.jpg"), :class => ""  %></a>
              <a data-slide-index="3" href=""><%=image_tag ("clue4.jpg"), :class => ""  %></a>
						</div>
					</div>
					
					<div class="right_content">
						<p class="pop_header">Clue</p>
						<p class="pop_details">Age: 6+</p>
						<p class="pop_details">Price: $32.79</p>
						<p class="pop_details">Learning Style: Visual</p>
						<form>
							<span class="form_text">Qty:</span><br>
							<input type="text" name="quantity">
							<div class="submit" type="submit">Add to Cart</div>
						</form>
						<p class="added">Item(s) added to cart!</p>
						
						<div class="clear"></div>

						<p class="pop_body">For generations, Mr Boddy has met his end at the hand of one of six legendary suspects. Professor Plum, Mrs. White, Mr. Green, Mrs. Peacock, Miss Scarlett and Colonel Mustard are all here in Boddy Mansion. One of them has done away with Mr Boddy, but which of the six weapons was used to commit this dastardly deed? 
						</br></br>Collect the right clues, make the right deductions, to determne who? where? which weapon? and you will solve the mystery and win the game.
						</p>
					</div>
						
						<div class="clear"></div>

					<div class="close_tab7">Close</div>
				</div>
	
	<div class="pop-up pop-up6">
					<div class="red">
						<ul class="pop-slider6">
              <li><%=image_tag ("monopoly1.jpg"), :class => "slider6"  %></li>
              <li><%=image_tag ("monopoly2.jpg"), :class => "slider6"  %></li>
              <li><%=image_tag ("monopoly3.jpg"), :class => "slider6"  %></li>
              <li><%=image_tag ("monopoly4.jpg"), :class => "slider6"  %></li>
						</ul>
					
						<div id="bx-pager6">
              <a data-slide-index="0" href=""><%=image_tag ("monopoly1.jpg"), :class => ""  %></a>
              <a data-slide-index="1" href=""><%=image_tag ("monopoly2.jpg"), :class => ""  %></a>
              <a data-slide-index="2" href=""><%=image_tag ("monopoly3.jpg"), :class => ""  %></a>
              <a data-slide-index="3" href=""><%=image_tag ("monopoly4.jpg"), :class => ""  %></a>
						</div>
					</div>
					
					<div class="right_content">
						<p class="pop_header">Customizable Monopoly</p>
						<p class="pop_details">Age: 9+</p>
						<p class="pop_details">Price: $18.84</p>
						<p class="pop_details">Learning Style: Auditory</p>
						<form>
							<a href="candyland.php"><div class="custom" type="submit">Customize Now!</div></a>
						</form>
						<p class="added">Item(s) added to cart!</p>
						
						<div class="clear"></div>
						
						<p class="pop_body"> Put your token on the Go space and roll the dice to own it all in the fast-paced world of real estate. </br></br>Make a move, make a deal and make a fortune to win it all. There can be only one winner in the Monopoly game; will it be you?</p>
					</div>
						
						<div class="clear"></div>
						

					<div class="close_tab8">Close</div>
				</div>	
	
	<div class="pop-up pop-up7">
					<div class="red">
						<ul class="pop-slider7">
              <li><%=image_tag ("life1.jpg"), :class => "slider7"  %></li>
              <li><%=image_tag ("life2.jpg"), :class => "slider7"  %></li>
              <li><%=image_tag ("life3.jpg"), :class => "slider7"  %></li>
              <li><%=image_tag ("life4.jpg"), :class => "slider7"  %></li>
						</ul>
					
						<div id="bx-pager7">
              <a data-slide-index="0" href=""><%=image_tag ("life1.jpg"), :class => ""  %></a>
              <a data-slide-index="1" href=""><%=image_tag ("life2.jpg"), :class => ""  %></a>
              <a data-slide-index="2" href=""><%=image_tag ("life3.jpg"), :class => ""  %></a>
              <a data-slide-index="3" href=""><%=image_tag ("life4.jpg"), :class => ""  %></a>
						</div>
					</div>
					
					<div class="right_content">
						<p class="pop_header">Customizable Life</p>
						<p class="pop_details">Age: 6+</p>
						<p class="pop_details">Price: $19.99</p>
						<p class="pop_details">Learning Style: Kinesthetic</p>
						<form>
							<a href="candyland.php"><div class="custom" type="submit">Customize Now!</div></a>
						</form>
						<p class="added">Item(s) added to cart!</p>
						
						<div class="clear"></div>
						
						<p class="pop_body"> Do you have what it takes to win The Game of Life game? 
						</br></br>
						You do it by choosing the life you want! Go to college, take the family path, have kids, or see what happens when unexpected twists change the game. Will you receive a fortune and lose it as quickly as you got it? Will you need a bank loan to pay a debt? Once everyone reaches the end of the game at retirement, everyone pays their debts and adds up their wealth. The player with the most money wins the game, so make sure it’s you! It’s all your choice when you play The Game of Life!
						</p>
					</div>
						
						<div class="clear"></div>

					<div class="close_tab9">Close</div>
				</div>	
	
	<div class="pop-up pop-up8">
					<div class="red">
						<ul class="pop-slider8">
              <li><%=image_tag ("sorry1.jpg"), :class => "slider8"  %></li>
              <li><%=image_tag ("sorry2.jpg"), :class => "slider8"  %></li>
              <li><%=image_tag ("sorry3.jpg"), :class => "slider8"  %></li>
              <li><%=image_tag ("sorry4.jpg"), :class => "slider8"  %></li>
						</ul>
					
						<div id="bx-pager8">
              <a data-slide-index="0" href=""><%=image_tag ("sorry1.jpg"), :class => ""  %></a>
              <a data-slide-index="1" href=""><%=image_tag ("sorry2.jpg"), :class => ""  %></a>
              <a data-slide-index="2" href=""><%=image_tag ("sorry.jpg"), :class => ""  %></a>
              <a data-slide-index="3" href=""><%=image_tag ("sorry.jpg"), :class => ""  %></a>
						</div>
					</div>
					
					<div class="right_content">
						<p class="pop_header">Sorry !</p>
						<p class="pop_details">Age: 8+</p>
						<p class="pop_details">Price: $22.99</p>
						<p class="pop_details">Learning Style: Visual & Kinesthetic</p>
						<form>
							<span class="form_text">Qty:</span><br>
							<input type="text" name="quantity">
							<div class="submit" type="submit">Add to Cart</div>
						</form>
						<p class="added">Item(s) added to cart!</p>
						
						<div class="clear"></div>

						<p class="pop_body">Home sweet home… that’s what it's all about! 
							</br></br>Since 1934 players of all ages have been chasing one another around the classic gameboard, trying to get their pawns from Start to Home. But it’s not that easy, because you never know what the next card will hold. Will you move forward-or backward? Will you hit a Slide and shoot ahead-or will an opponent bump you back to Start? It's a chase and a race, and it’s never over until somebody gets all the way Home!						
						</p>
					</div>
						
						<div class="clear"></div>

					<div class="close_tab10">Close</div>
				</div>
				
	<div class="pop-up pop-up9">
					<div class="red">
						<ul class="pop-slider9">
              <li><%=image_tag ("operation1.jpg"), :class => "slider9"  %></li>
              <li><%=image_tag ("operation2.jpg"), :class => "slider9"  %></li>
						</ul>
					
						<div id="bx-pager9">
              <a data-slide-index="0" href=""><%=image_tag ("operation1.jpg"), :class => ""  %></a>
              <a data-slide-index="1" href=""><%=image_tag ("operation2.jpg"), :class => ""  %></a>
						</div>
					</div>
					
					<div class="right_content">
						<p class="pop_header">Clue</p>
						<p class="pop_details">Age: 7+</p>
						<p class="pop_details">Price: $38.99</p>
						<p class="pop_details">Learning Style: Visual & Auditory</p>
						<form>
							<span class="form_text">Qty:</span><br>
							<input type="text" name="quantity">
							<div class="submit" type="submit">Add to Cart</div>
						</form>
						<p class="added">Item(s) added to cart!</p>
						
						<div class="clear"></div>

						<p class="pop_body">You're the doctor when you play Operation. Take turns removing various "ailments" from the patient's body with tweezers, but watch out! Don't set off the buzzer! 
						</br></br>Surely countless medical careers have been launched because of this humorous game. The Operation game board features Sam the patient with 12 body cavities exposed. Players perform highly skilled procedures with a pair of tweezers and this kind of surgery requires a steady hand!
						</p>
					</div>
						
						<div class="clear"></div>

					<div class="close_tab11">Close</div>
				</div>			
	
	
	<div class="content">
	
		<h3>Our Games</h3>
		<!--<div class="game_nav">
			<ul>
				<li><a href="#">All</a></li>
				<li><a href="#">Customizable</a></li>
				<li><a href="#">Visual</a></li>
				<li><a href="#">Auditory</a></li>
				<li><a href="#">Kinesthetic</a></li>
			</ul>
		</div>END game_nav--> 
		<!--<div class="game_nav_two">
			<ul>
				<li><a href="#">Action</a></li>
				<li><a href="#">Picture</a></li>
				<li><a href="#">Story</a></li>
				<li><a href="#">Word</a></li>
			</ul>
		</div> END game_nav_two--> 
		
		<div class="game_nav">
			<ul>
				<li id="all"><a href="#">All Games</a></li>
				<li id="customizable"><a href="#">Customizable</a></li>
				<li id="visual_l"><a href="#">Visual</a></li>
				<li id="auditory_l"><a href="#">Auditory</a></li>
				<li id="kinesthetic_l"><a href="#">Kinesthetic</a></li>
				<li id="action"><a href="#">Action</a></li>
				<li id="picture"><a href="#">Picture</a></li>
				<li id="story"><a href="#">Story</a></li>
				<li id="word"><a href="#">Word</a></li>
			</ul>
		</div><!--END game_nav--> 
		
		
		
		<div class="game_content">
			
			<div class="sorting">
				<p><em>Showing 1-7 of 7 results</em></p>
				<p>Sort by:</p>
				<form class="dropdown">
					<select>
  						<option value="volvo">All</option>
						<option value="volvo">Less than $25</option>
  						<option value="saab">$25 and more</option>
  						<option value="mercedes">1st Grade</option>
  						<option value="audi">2nd Grade</option>
  						<option value="mercedes">3rd Grade</option>
  						<option value="audi">4th Grade</option>
					</select>
				</form>
			</div><!--END sorting--> 
			
			<div class="game_gallery">
			
				<div class="gallery gallery_close all visual_l picture" id="game_one">
          <%=image_tag ("guesswhere1.jpg"), :class => ""  %>
					<p>Guess Where ?</p>
						<p class="title_details">Age: 8+     Price: $22.99</p>
						<p class="title_styles">Visual Learning</p>
					<a class="game_one_open" href="#">Click here for more info!</a>
				</div><!--END game_one-->							
				
				<div class="gallery gallery_close all vis_kin_cust pic_st" id="game_two">
          <%=image_tag ("candyland1.jpg"), :class => ""  %>
					<p>Candyland!</p>
						<p class="title_details">Age: 6+     Price: $29.99</p>
						<p class="title_styles">Visual & Kinesthetic Learning</p>
					<a class="game_two_open" href="#">Click here for more info!</a>
				</div><!--END game_two-->
				
				<div class="gallery right gallery_close all visual_l pic_ac" id="game_three">
          <%=image_tag ("scrabble1.jpg"), :class => ""  %>
					<p>Scrabble</p>
						<p class="title_details">Age: 8+     Price: $37.98</p>
						<p class="title_styles">Visual Learning</p>
					<a class="game_three_open" href="#">Click here for more info!</a>
				</div><!--END game_three-->
				
				<div class="gallery gallery_close all aud_kin action" id="game_four">
          <%=image_tag ("mousetrap1.jpg"), :class => ""  %>
					<p>MouseTrap</p>
						<p class="title_details">Age: 6+     Price: $24.99</p>
						<p class="title_styles">Auditory & Kinesthetic Learning</p>
					<a class="game_four_open" href="#">Click here for more info!</a>
				</div><!--END game_four-->
				
				<div class="gallery gallery_close all visual_l pic_ac" id="game_five">
          <%=image_tag ("clue1.jpg"), :class => ""  %>
					<p>Cluedo</p>
						<p class="title_details">Age: 6+     Price: $32.79</p>
						<p class="title_styles">Visual Learning</p>
					<a class="game_five_open" href="#">Click here for more info!</a>
				</div><!--END game_five-->
				
				<div class="gallery right gallery_close all aud_cust action" id="game_six">
          <%=image_tag ("monopoly1.jpg"), :class => ""  %>
					<p>Monopoly</p>
						<p class="title_details">Age: 9+     Price: $18.84</p>
						<p class="title_styles">Auditory Learning</p>
					<a class="game_six_open" href="#">Click here for more info!</a>
				</div><!--END game_six-->
				
				<div class="gallery gallery_close all kin_cust pic_wo" id="game_seven">
          <%=image_tag ("life1.jpg"), :class => ""  %>
					<p>Life</p>
						<p class="title_details">Age: 6+     Price: $19.99</p>
						<p class="title_styles">Kinesthetic Learning</p>
					<a class="game_seven_open" href="#">Click here for more info!</a>
				</div><!--END game_seven-->
				
				<div class="gallery gallery_close all vis_kin pic_sto_wo" id="game_eight">
          <%=image_tag ("sorry1.jpg"), :class => ""  %>
					<p>Sorry!</p>
						<p class="title_details">Age: 8+     Price: $22.99</p>
						<p class="title_styles">Visual & Kinesthetic Learning</p>
					<a class="game_eight_open" href="#">Click here for more info!</a>
				</div><!--END game_eight-->
				
				<div class="gallery right gallery_close all vis_aud pic_ac" id="game_nine">
          <%=image_tag ("operation1.jpg"), :class => ""  %>
					<p>Operation</p>
						<p class="title_details">Age: 7+     Price: $38.99</p>
						<p class="title_styles">Visual & Auditory Learning</p>
					<a class="game_nine_open" href="#">Click here for more info!</a>
				</div><!--END game_nine-->
			
			</div><!--END game_gallery-->

			
			
			<div class="sorting">
				<p><em>Showing 1-7 of 7 results</em></p>
				<p>Sort by:</p>
				<form class="dropdown">
					<select>
					  	<option value="volvo">All</option>
  						<option value="volvo">Less than $25</option>
  						<option value="saab">$25 and more</option>
  						<option value="mercedes">1st Grade</option>
  						<option value="audi">2nd Grade</option>
  						<option value="mercedes">3rd Grade</option>
  						<option value="audi">4th Grade</option>
					</select>
				</form>
				<a href="#top">Back to Top</a>
			</div><!--END sorting--> 
		
		
		</div><!--END game_content--> 
		
		

<div class="clear"></div>
		
		
		
		
		
	</div><!--END content--> 
	
<div class="clear"></div>
