<% content_for :title, "About" %>

<div class="content">
	
		<h3>About Us</h3>
			<h5>What is Cognotion&#0153;?</h5>
				<p>Founded in Philadelphia, Pennsylvania in 2014, Cognotion&#0153; is an educational game company that focuses on the individuality of each child and promotes education in a fun way. Some people are visual learners, some are auditory learners, and some are kinesthetic learners, and it’s important to understand and recognize these differences and cater to them. Therefore, all of our games are separated based on learning styles, the specific types of games that apply to each, and age ranges so that parents can find the perfect game for their child. In addition, a variety of our games are customizable so that parents can hand craft a game that suits their child’s every need!</p></br></br>

			<h5>Why Educationally Fun games?</h5>
				<p>A phenomenon with no boundaries- geographically or cognitively- the act of learning influences and determines the lives of everyone. Education promotes intelligence, and allows individuals to function and interact within a rapidly changing world and society. Education begins at an early age, and can take many forms. Presenting children with a fun educational outlet opens the door for optimized learning outcomes, and teaches children that learning can be fun! On average, research has shown that education increases job performance in the workplace, improves overall health, promotes active citizenship and decreases violence. Starting a love of learning at an early age only increases these outcomes. </p></br></br>

			<h5>Giving Back to Our Community</h5><a name="non-profits"></a>
				<p>Cognotion&#0153; understands that there are many influences on a child’s education and understanding of the world. Therefore, we donate 15% of ALL proceeds to national non-profit organizations that focus on education and children's communities. When you buy a game through <a class="link_callout" href="sarahdriban.com/cognotion">cognotiongames.com</a>, we ask you to select where your money is donated and help you start making a difference in your child’s future!</p></br></br>

			<h5>Our Non-Profit Organizations</h5>
				<p>May's Non-Profit Organization of the Month!</p>
				<div class="featured">
					<%=image_tag ("nsn-01.jpg"), :class => ""  %>
					<div class="featured_blurb">
						<p class="title">National Storytelling Network</p>
						<p>The vision of the National Storytelling Network (NSN) is to "Enrich the world through storytelling." The mission of the NSN is to: Bring together and nurture individuals and organizations that use the power of storytelling in all its forms." A service NSN offers is the awarding of numerous grants to members through their grant programs. NSN sponsors the National Storytelling Conference held annually in various locations throughout the United States. NSN is also a sponsor of the National Youth Storytelling Showcase (NYSS), which holds a national storytelling competition every February in Pigeon Forge, TN. One of NSN's most widely known programs is Tellabration!, night of storytelling around the world that was begun in 1988.</p>
						<a href="http://www.storynet.org " target="_blank"><p>http://www.storynet.org </p></a>
					</div>
				</div>
			<p>In addition to our "Non-Profit Organization of the Month", Cognotion&#0153; continually supports other non-profits which benefit children and their communities!</p>
			
			<div class="non_profit">	
				<span>
					<%=image_tag ("bbbs-01.jpg"), :class => ""  %>
					<div class="profit_blurb">
						<p class="title">Big Brothers Big Sisters</p>
						<p>Big Brothers/Big Sisters matches one child, usually from a single-parent, low-income family, with one adult volunteer, who serves as a mentor, friend and role model. </p>
						<a href="http://www.bbbs.org/site/c.9iILI3NGKhK6F/b.5962335/k.BE16/Home.htm " target="_blank"><p>http://www.bbbs.org</p></a>
					</div>
				</span>
				<span>
					<%=image_tag ("boysgirlsclub-01.jpg"), :class => ""  %>
					<div class="profit_blurb">
						<p class="title">Boys & Girls Club of America</p>
						<p>The mission of the Boys and Girls Clubs of America is to enable all young people, especially those who need us most, to reach their full potential as productive, caring, responsible citizens.</p>
						<a href="http://www.bgca.org/Pages/index.aspx " target="_blank"><p>http://www.bgca.org</p></a>
					</div>
				</span>
				<span>
					<%=image_tag ("cdf-01.jpg"), :class => ""  %>
					<div class="profit_blurb">
						<p class="title">Children's Defense Fund</p>
						<p>The Children's Defense Fund exists to provide a strong and effective voice for all the children of America, who cannot vote, lobby, or speak out for themselves.</p>
						<a href="http://www.childrensdefense.org" target="_blank"><p>http://www.childrensdefense.org</p></a>
					</div>
				</span>
				<span>
					<%=image_tag ("childcare-01.jpg"), :class => ""  %>
					<div class="profit_blurb">
						<p class="title">Child Care of America</p>
						<p>Child Care Aware® of America‪ a leading voice who which works with Resource and Referral agencies to ensure that families in every local community have access to quality, affordable child care.‬</p>
						<a href="http://www.usa.childcareaware.org" target="_blank"><p>http://www.usa.childcareaware.org</p></a>
					</div>
				</span>
				<span>
					<%=image_tag ("lda-01.jpg"), :class => ""  %>
					<div class="profit_blurb">
						<p class="title line-height">Learning Disabilities Association</p>
						<p>The Learning Disabilities Association is dedicated to enhancing the quality of life for all individuals and their families.</p>
						<a href="http://ldaamerica.org" target="_blank"><p>http://ldaamerica.org</p></a>
					</div>
				</span>
				<span>
					<%=image_tag ("nhsa-01.jpg"), :class => ""  %>
					<div class="profit_blurb">
						<p class="title">Head Start</p>
						<p>The National Head Start Association‪ is committed to the belief that every child, regardless of circumstances at birth, has the ability to succeed in life. ‬</p>
						<a href="http://www.nhsa.org" target="_blank"><p>http://www.nhsa.org</p></a>
					</div>
				</span>
				<span>
					<%=image_tag ("rocketship-01.jpg"), :class => ""  %>
					<div class="profit_blurb">
						<p class="title">Rocketship Education</p>
						<p>Rocketship Education is a network of public elementary charter schools serving primarily low-income students in neighborhoods where access to excellent schools is limited.</p>
						<a href="https://www.myphilanthropedia.org/top-nonprofits/national/education/2014/rocketship-education" target="_blank"><p>http://rocketship-education.org</p></a>
					</div>
				</span>
				<span>
					<%=image_tag ("teachamerica-01.jpg"), :class => ""  %>
					<div class="profit_blurb">
						<p class="title">Teach For America</p>
						<p>Teach For America's mission is to build the movement to eliminate educational inequity by enlisting our nation's most promising future leaders in the effort.</p>
						<a href="https://www.myphilanthropedia.org/top-nonprofits/national/education/2014/teach-for-america" target="_blank"><p>https://www.teachforamerica.org/</p></a>
					</div>
				</span>
				<span>
					<%=image_tag ("826-01.jpg"), :class => ""  %>
					<div class="profit_blurb">
						<p class="title">826 National</p>
						<p>826 National is a network of writing and tutoring centers for children and teens which believe in the power of education, arts and creativity. 
</p>
						<a href="http://826national.org" target="_blank"><p>http://826national.org</p></a>
					</div>
				</span>
					
				<div class="clear"></div>
			</div><!--END non_profit-->  

			<h5>Our Sponsorships</h5>
			<p>There are so many great organizations helping children and their communities. In addition to donating 15% of all proceeds to non-profits, Cognotion&#0153; sponsors a variety of annual organizational fundraisers and walkathons! Check out some of our sponsorships below!</p>
			<div class="sponsorship">
				<span>
					<%=image_tag ("bestbuddies-01.jpg"), :class => ""  %>
					<div class="sponsor_blurb">
						<p class="title">Best Buddies Friendship Walk</p>
						<p>The Best Buddies Friendship Walk (BBFW) is a powerful social movement that supports inclusion and acceptance. Since 2009, more than 55,000 participants have walked in over 26 states, and raised over 5 million dollars for Best Buddies. The Friendship Walk changes lives as participants walk for inclusion, friendship, leadership, and opportunity for people with and without intellectual and developmental disabilities (IDD).
</br></br>Walk for inclusion. Walk for friendship. Walk for a better community.</p>
						<a href="http://www.bestbuddies.org/events/walks" target="_blank"><p>http://www.bestbuddies.org/</p></a>
					</div>
				</span>
				<span>
					<%=image_tag ("jdrf-01.jpg"), :class => ""  %>
					<div class="sponsor_blurb">
						<p class="title">JDRF: Kids Walk to Cure Diabetes</p>
						<p>The JDRF Kids Walk program is an educational, in-school fundraising program with two goals: 1) to educate students about type 1 and type 2 diabetes and the importance of a healthy lifestyle, and 2) to provide them with an opportunity to make a difference by raising money for type 1 diabetes (T1D) research.
Our program helps to foster an environment of positive character building and community service. </br></br>It’s FUN, it’s EASY, and it’s EDUCATIONAL! It’s all about Kids Helping Kids!
</p>
						<a href="http://www2.jdrf.org/site/PageServer?pagename=kidswalk_homepage" target="_blank"><p>http://www2.jdrf.org/</p></a>
					</div>
				</span>

			<div class="clear"></div>
			</div><!--END sponsorship-->  
		
		
		
		
		
		
	</div><!--END content--> 
	
<div class="clear"></div>
