<div class="footer">
		<div class="top_footer">
			<ul class="footer_one">
				<li><a href="index" class="footer_title"><%= link_to "Home", home_path, :class => current_class?(home_path)  %></a></li>
				<li><a href="about" class="footer_title"><%= link_to "About Us", about_path, :class => current_class?(about_path)  %></a></li>
				<li><a href="about#non-profits" class="footer_title">Non-Profit Sponsorships</a></li>
				<li><a href="privacy#shopping" class="footer_title">Safe Shopping</a></li>
				<li><a href="privacy" class="footer_title"><%= link_to "Privacy Policy", privacy_path, :class => current_class?(privacy_path)  %></a></li>
			</ul><!--END nav_one--> 
			<ul class="footer_two">
				<li><a href="learning" class="footer_title"><%= link_to "Learning Styles", learning_path, :class => current_class?(learning_path)  %></a></li>
				<li><a href="learning#visuall" class="small_footer">Visual Learning</a></li>
				<li><a href="learning#auditoryy" class="small_footer">Auditory Learning</a></li>
				<li><a href="learning#kinestheticc" class="small_footer">Kinesthetic Learning</a></li>
			</ul><!--END footer_two--> 
			<ul class="footer_three">
				<li><a href="games" class="footer_title"><%= link_to "Games", games_path, :class => current_class?(games_path)  %></a></li>
				<li><a href="games" class="small_footer">Picture</a></li>
				<li><a href="games" class="small_footer">Word</a></li>
				<li><a href="games" class="small_footer">Story</a></li>
				<li><a href="games" class="small_footer">Action</a></li>
				<li><a href="games" class="small_footer">Customizable</a></li>
			</ul><!--END footer_three--> 
			<ul class="footer_five">
				<li><a href="ordering" class="footer_title"><%= link_to "Site Terms", ordering_path, :class => current_class?(ordering_path)  %></a></li>
				<li><a href="ordering#promise" class="small_footer">Our Promise</a></li>
				<li><a href="ordering#terms" class="small_footer">Terms of Use</a></li>
				<li><a href="ordering#returns" class="small_footer">Return Policy</a></li>
				<li><a href="ordering#shipping" class="small_footer">Shipping Policy</a></li>
				<li><a href="ordering#order_info" class="small_footer">Ordering Info</a></li>
			</ul><!--END footer_five-->	
			<ul class="footer_four">
				<li><a href="#" class="footer_title">View Cart</a></li>
				<li><a href="#" class="footer_title">Checkout</a></li>
				<li><a href="contact" class="footer_title"><%= link_to "Contact Us", contact_path, :class => current_class?(contact_path)  %></a></li>
				<li><a href="contact#locations" class="footer_title">Locations Sold</a></li>
				<li id="email_list">Sign Up for Email List</li>
			</ul><!--END footer_four--> 	
		</div><!--END top_footer--> 
		
<div class="clear"></div>
		
		<div class="main_footer">
			<p>Copyright &#0169; 2015. Cognotion&#0153;. All rights reserved.</p>
			<p><a class="footer_contact_link" href="tel:+#">1-800-264-5437</a> | Cognotion Headquarters  P.O. Box #27  Philadelphia PA 19144</p>
			<p class="footer_small">Use of this site signifies your acceptance of the Terms and Conditions of Use.</p>
		</div><!--END main_footer--> 

	
	</div><!--END footer--> 
	
	</div><!--END outer_container--> 

